body {
  height: 100vh;
  background-color: blanchedalmond;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

#container {
  display: flex;
  height: auto;
  width: 90%;
  grid-area: main;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  margin: 20px 50px;
  width: 70vw;
  height: 200px;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 15px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

p {
  width: 40%;
}

a {
  font-weight: bold;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}
